extends layout

block content
  section(id="presentation")
    div(class="textArea")
      h1 Plantree: plantas de interior para todo tipo de espacios
      p ¡Bienvenido a nuestra base de datos! Somos una tienda especializada en plantas de interior. Desde este portal podrás acceder al inventario de la tienda. Si tu perfil es de administrador también puedes crear, eliminar y modificar información según tus necesidades. 
      p Este inventario incluye información sobre: 
      ul
        li #[strong Plantas.] ¿Qué plantas existen en el registro?
        li #[strong Stock por planta.] ¿Cuantás unidades tenemos en stock de cada planta?
        li #[strong Unidades disponibles.] ¿Cuantás están disponibles? ¿Cuántas han sido reservadas o se encuentran en mantenimiento?
        li #[strong Invernaderos.] ¿De dónde procede cada planta?
        li #[strong Tipos de plantas.] ¿Cómo se clasifica cada planta? Interior, exterior, tropicales, suculentas...

               