extends layout

block content
  div.list-block
    h1= title
    div(class="list-group list-group-light")
      ul
        each plant in plant_list
          li(class="list-group-item list-group-item-action px-3")
            a(href=plant.url) #{plant.name}
            |   (#{plant.greenhouse.name})


        else
          li No hay plantas.
